@media screen and (max-width:576px) {


    .nav-container,
    .nav-item,
    .banner-container,
    .main-button,
    .card,
    .container
    {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container{
    width: 90%;
    /* padding: 10px; */
}
.btn-1{
    margin-bottom: 20px;
}
.container{
    transform: scale(0.7);
}
.upper-img
{
    width: 70%;
}
.play-img{
    width: 50%;
    margin: 10px auto;
}

.icon-main{
    grid-template-columns: repeat(3, 1fr);
    transform: scale(0.7);
}
 
 .footer-list{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
 }
 .footer-settings{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
 }
 footer{
    padding: 0px 0px;
    
    
 }
 .footer-container{
    transform: scale(0.7);
 }
}


/* tablet section  */
@media screen and (min-width:500px) and (max-width:992px){
    .nav-container,
    .nav-item,
    .banner-container,
    .main-button,
    .card,
    .container
    {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img{
    width: auto;
    align-items: center;
}
.btn-1{
    margin-bottom: 20px;
}
.card-container,
.play-title{
    margin-bottom: 0px;
}
.container{
    transform: scale(0.7);
}
.upper-img
{
    width: 70%;
}
.play-img{
    width: 50%;
    margin: 10px auto;
}
.icon-main{
    grid-template-columns: repeat(3, 1fr);
    transform: scale(0.7);
    margin: 0px;
    padding: 0px;
}


.footer-list{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
 }
 .footer-settings{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
 }
 footer{
    padding: 0px 0px;
    
    
 }
 .footer-container{
    transform: scale(0.7);
 }

    
}



