@media screen and (max-width:576px){
    nav{
        padding: 0px;
    
    }
    .nav-container
    {
        flex-direction: column;
       
    
    }

    .nav-item{
        flex-direction: column;
        padding: 50px;
       
    }
    
    
    .logo-img{
     
        width: 262px;
        
    }
    .card-title{
        flex-direction: column;
        width: 100%;
    }
    .card-img{
        flex-direction: column;
        
    }
    .banner-container{
        flex-direction: column-reverse;
        width: 165%;
        height: 775px;
        align-items: center;
        margin-top:300px;
        

    }
    
    /* .card-container{
        margin: 0;

    }
    .image{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .card-img{
        width: 603px;
height: 560.331px;
border-radius: 16px;
margin-bottom: 200px ;
    }
    .card-title{
        flex-direction: column;
    } */
    /* .container{
        flex-direction: column;
    }
      */
     .footer-container{
        flex-direction: column;
        
     }
}


@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
       
    }

    nav,
    .nav-container,
    .nav-item,
    .logo-img{
        flex-direction: column;
    }
}