@media screen and (max-width:576px){
    nav{
        padding: 0px;
    
    }
    .nav-container
    {
        flex-direction: column;
    
    
    }

    .nav-item{
        flex-direction: column;
        padding: 50px;
       
    }
    .logo-img{
        
        width: 262px;
        
    }
    .card-title{
        flex-direction: column;
        width: 100%;
    }
    .card-img{
        flex-direction: column;
        
    }
     
    
}