* {
    margin: 0;
    padding: 0;

}

body {
    padding: 50px 200px;
}

nav {
    background: #FFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 45px;


}

.span {
    color: #FF42A5;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;


}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;

    font-weight: 500;
}

.logo-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    border-radius: 8px;
}

.logo-img img {

    width: 32px;
}

/* banner section  */
.banner-container{ 
    margin-top: 30px;
    background: #FFF;  
    
     display: flex;
     justify-content: space-between;

} 
.banner-description{
    padding: 148px;
    /* padding-left: 240px; */
    align-items: center;
  
}
.play{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
}
.title{
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
color: #8758F1; 
}
.click{
color: #534C64;
font-size: 20px;
font-weight: 500;
padding: 17px;
}
.btn-1{
    border-radius: 48px;
background:  #FF42A5;
border: 0;
width: 156px;
height: 65px;
padding: 21px 40px;
margin-top: 41px;
color: #FFF;
font-size: 20px;
font-weight: 600;
}
.btn-2{
    color: #FFF;
font-size: 20px;
font-weight: 600;
border-radius: 48px;
background: #4EC5F7;
padding: 21px 40px;
width: 185px;
height: 65px;
border: none;
margin-left: 27px;

}
/* card section  */
.card-container{
    margin: 200px 0;
    /* padding: 0 240px; */
}
.card-title{
    display: flex;
    justify-content: center;
    color: #0B0223;
text-align: right;
font-size: 48px;
font-weight: 700;
}
.span-color{
    color: #8758F1; 
}
.description{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 16px;
}
.card-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    gap: 24px;
    width: 100%;
}
.image{
    color: #534C64;
font-size: 20px;
font-weight: 500;
line-height: 30px;
margin-top: 24px;
width: 100%;
height: 310px;
}
.card-img img{
    width: 100%;
}
/* icon section  */
.icon-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    list-style: none;
    

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}


/* footer  */
.footer-container{
    margin-top: 50px;
   height: 636px;

background: #0B0223;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
    padding-top: 120px;
    gap: 10px;
}
.footer-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* padding: 10px; */
    margin: 56px 0;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-description-2{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
display: flex;
justify-content: center;
font-weight: 500;
list-style: none;


}
